---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "About me"
const skills = [
    'Software development',
    'Product thinking'
]
const showMe = true
const skillColor = "navy"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new website!</h2>
    <p>This is a work in progress, where you can find detailed information about me</p>
    <p>This site is being updated as we speak</p>
    <p>I'm proficient in the following fields:</p>
    <ul>{skills.map(skill => <li class="skill">{skill}</li>)}</ul>
    {showMe && <p>Hey youuu</p>}
</BaseLayout>
