---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting.jsx'

const pageTitle = "Home page"
const messages = ['Hi', 'Hello', 'Howdy', 'Hey there']
const otherMessages = ['Hej', 'Halle', 'Hola', 'Habari']
---

<BaseLayout pageTitle={pageTitle}>
    <h2>This is the home page</h2>
    <Greeting messages={messages} />
    <Greeting client:load messages={otherMessages} />
</BaseLayout>
