---
import Layout from "@layouts/Default.astro";
---

<Layout
  title="About"
  description="Whisust | On this page you can find details about my career"
  pageTitle="Whisust"
>
  <main class="bg-yellow p-6">
    <h1>About me</h1>
  </main>
</Layout>
