---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Whisust blog, based on the
    <a
     href='https://github.com/ElianCodes/brutal'
     target='_blank'
     class='text-blue'>
     Brutal theme for Astro
    </a>
  </p>
</footer>
