/* Stylesheet based on the SMACSS approach */

/* Variables */
:root {
    /* Colors */
    --navbar-color: pink;
    --footer-color: lavender;
    --footer-background-color: pink;
    --background-color: coral;

    --dark-font-color: black;
    --medium-font-color: grey;
    --font-color: darkgrey;
    --bright-font-color: lightgrey;

    --ugly-border-color: deeppink;
    --ugly-background-color: pink;

    /* Dimensions */
    --navbar-width: 80px;
    --navbar-height: 80px;
    --navbar-icon-size: 50px;
    --footer-height: 30px;
    --main-width: 60%;
}

/* Base */
*, ::after, ::before {
    box-sizing: border-box;
}

button {
    color: #ababab;
    border: 1px solid #f2f2f2;
}


/* Layout */
body {
    line-height: 1.6;
    font-size: 1rem;
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
    background: var(--background-color);
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--navbar-color);
    width: var(--navbar-width);
    height: calc(100vh - var(--footer-height));
    left: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: var(--navbar-width);
}

footer {
    position: fixed;
    height: var(--footer-height);
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--footer-color);
    z-index: 10;
}

.footer section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer nav {
    margin: 0 1rem;
    gap: 0.25rem;
    display: flex;
}

.navbar--item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.navbar--icon {
    height: var(--navbar-icon-size);
    width: var(--navbar-icon-size);
}


/* Module */


/* State */
.bordered {
    border: 1px solid var(--ugly-border-color);
}

/* Theme */
.footer--made-by {
    color: var(--medium-font-color);
}

.footer a {
    color: var(--font-color);
}