/* Stylesheet based on the SMACSS approach */

/* Variables */
:root {
    /* Colors */
    --navbar-color: pink;
    --footer-color: pink;
    --background-color: coral;

    --ugly-border-color: deeppink;
    --ugly-background-color: pink;

    /* Dimensions */
    --navbar-width: 80px;
    --navbar-height: 80px;
    --footer-height: 30px;
}

/* Base */
html {
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
    background: var(--background-color);
}

a {
    color: #000;
}

button {
    color: #ababab;
    border: 1px solid #f2f2f2;
}


/* Layout */
body {
    box-sizing: border-box;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--navbar-color);
    width: var(--navbar-width);
    height: calc(100vh - var(--footer-height));
    left: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: var(--navbar-width);
}

footer {
    position: fixed;
    height: var(--footer-height);
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--footer-color);
    z-index: 10;
}


/* Module */

/* State */
.bordered {
    border: 1px solid var(--ugly-border-color);
}

/* Theme */