/* Stylesheet based on the SMACSS approach */

/* Variables */
:root {
    /* Colors */
    /* Main Colors*/
    --primary: deeppink;
    --reverse: white;

    /* Layout colors */
    --navbar-color: lavender;
    --footer-color: #f3f3fa;
    --footer-background-color: white;
    --background-color: white;

    /* Fonts & Links colors */
    --dark-font-color: black;
    --medium-font-color: grey;
    --font-color: darkgrey;
    --bright-font-color: lightgrey;
    --heading-font-color: var(--primary);
    --link-color: lightpink;

    /* Others */
    --border-color: lavender;
    --light-border-color: pink;
    --dark-opacity: rgba(0, 0, 0, 0.2);
    --dark-opacity-hover: rgba(0, 0, 0, 0.3);


    --ugly-border-color: deeppink;
    --ugly-background-color: pink;

    /* Dimensions */
    --navbar-width: 80px;
    --navbar-height: 80px;
    --navbar-icon-size: 50px;
    --footer-height: 30px;
}

/* Base */
*, ::after, ::before {
    box-sizing: border-box;
}

button {
    color: #ababab;
    border: 1px solid #f2f2f2;
}

a {
    text-decoration: none;
}


/* Layout */
body {
    line-height: 1.6;
    font-size: 1rem;
    font-family: "JetBrains Mono", sans-serif;
    background: var(--background-color);
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--navbar-color);
    width: var(--navbar-width);
    height: calc(100vh - var(--footer-height));
    left: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: var(--navbar-width);
}

footer {
    position: fixed;
    height: var(--footer-height);
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--footer-color);
    z-index: 10;
}

.footer section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer nav {
    margin: 0 1rem;
    gap: 0.25rem;
    display: flex;
}

.navbar--item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--navbar-width);
    align-items: center;
}

.navbar--icon {
    height: var(--navbar-icon-size);
    width: var(--navbar-icon-size);
}


/* Module */
.container {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.footer--made-by {
    color: var(--medium-font-color);
}

.footer a {
    color: var(--font-color);
}


/* State */
.bordered {
    border: 1px solid var(--ugly-border-color);
}

a:hover {
    background: var(--primary);
    color: var(--reverse);
    border-top: 2px solid var(--primary);
}

.navbar a:hover {
    background: var(--dark-opacity);
    border: none;
}

.footer a:hover {
    background: none;
    border: none;
}

/* Theme */
h1, h2, h3, h4 {
    margin: 0 0 1.25rem;
    color: var(--heading-font-color);
}

article a {
    color: var(--link-color);
    font-weight: 600;
    border-bottom: 1px solid var(--primary);
}

article li a {
    border: none;
}

section {
    width: 100%;
}

section:not(:first-child) {
    margin-top: 3rem;
}

